
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/

# Django
*.log
*.pot
*.pyc
*.py[cod]
*.DS_Store

# Media & Static
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp

# Environment
.env